<?xml version="1.0" encoding="utf-8" ?>
<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>2.0</jsp-version>
    <short-name>boss</short-name>
    <uri>http://boss.xx.com</uri>
    <tag>
        <name>user</name>
        <tag-class>com.bosssoft.hr.train.jsp.example.tag.UserTag</tag-class>
        <body-content>empty</body-content>
    </tag>
</taglib>